body {
    /*
    display: grid;
    */
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 100%;/*
    grid-template-areas:
    "header header header"
    "form img table";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 30% 1fr 30%;*/
}


.page {
    display: grid;
    grid-template-columns: 30% 25% 1fr;
    grid-template-rows: 30% 1fr;
    grid-gap: 5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3%;
}

.title {
    background:#000;
    color: #FFF;
    font-style: italic;
    font-family: Arial, sans-serif;
    font-size: 32px;
    padding: 2%;
}
.name-group{
    float: right;
}
.send_form{
    width: 100%;
}

#odz{
    float: contour;
    width: 100%;
    position: relative;
}

.head-img{
    height: 3%;
    width: 3%;
    vertical-align: top;
    margin-left: 2%;
    float: contour;
}

@keyframes appear {
    from,
    50%,
    to {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}


page::backdrop{
    animation: appear 2s 1;
    animation-fill-mode: forwards;
}

#odz:hover {
    box-shadow: 0 0 10px #c5d6ff;
}
